<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <div class="elexLogo"> <div class="text"> <h3>ELECTION</h3> </div> <img src="https://static.startribune.com/news/projects/all/20200303-elex-results/build/img/ELEX2020.svg" alt="Election 2020"> </div>
      <h1>Absentee balloting helped drive Minnesota's highest voter turnout in six decades</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2020-11-13T16:00:00">November 13, 2020</time>
      </div>
      
      <!-- share -->
    </div>

    <div class="container-lg elex-main">

        <section class="leadin body">
            <p>About eight in 10 eligible Minnesotans voted in this year's historic election — a rate not seen in 60 years and once again, so far, the highest in the nation.</p>

            <p>The last time Minnesota's voter turnout topped 79 percent was when John F. Kennedy was elected president in 1960. Prior to that, Minnesota's highest post-war turnout rate was in 1956, when President Dwight D. Eisenhower won reelection — one of the few times the state voted Republican with such high turnout. At 78.8 perecent, the 2004 reelection of George W. Bush had a slightly lower turnout than this year, and Barack Obama's 2012 election also trailed just behind.</p>

            <p>This year's turnout was driven in part by a record-shattering number of absentee ballots cast by voters amid the coronavirus pandemic.</p>
        </section>

        <div class="body slide">
            <iframe title="Minnesota's voter turnout broke records" aria-label="Interactive line chart" id="datawrapper-chart-qyXFu" src="https://datawrapper.dwcdn.net/qyXFu/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        </div>

        <section class="body">
            <p>More than <a href="https://electproject.github.io/Early-Vote-2020G/index.html" target="new_">101 million early ballots</a> were estimated to have been cast nationally this year, according to the United States Elections Project. More than <a href="https://www.startribune.com/x/572588741/">1.8 million of those came from Minnesotans</a>, representing about 56 percent of the total statewide vote.</p>

            <p>Absentee balloting <a href="https://www.startribune.com/x/572649841/">transcended regional boundaries</a>, with many Minnesota counties seeing at least half of their votes being cast before Election Day.</p>
        </section>
    
        <section id="scroll">
            <div class="scroll__graphic sticky">
                <div id="ios-spacer"></div>
                <div id="map-container">
                    <div class="center" id="mainLegend">
                        <div class="charTitle">Percent of vote cast absentee</div>
                        <div class="legend"><div class="null"></div><div class="purple1"></div><div class="purple2"></div><div class="purple3"></div><div class="purple4"></div><div class="purple5"></div></div>
                        <div class="legend"><div class="white">0%</div><div class="white">10%</div><div class="white">30%</div><div class="white">50%</div><div class="white">70%</div><div class="white">>90%</div></div>
                    </div>
                   
                  <svg width="550" height="690" viewBox="0 0 500 500" id="precinct-map" preserveAspectRatio="xMinYMin"></svg>
                </div>
              </div>
        </section>

        <section class="body">
            <p>Preliminary statistics show voter turnout surges in many counties as compared to 2016, with high levels of voter engagement in heavily DFL areas like Hennepin and Ramsey helping propel decisive Democratic wins in statewide contests.</p>

            <p>Yet it was counties like Carver, Washington, Scott and Dakota in the Twin Cities suburbs that represented the highest turnout rates in Minnesota this year, another signal of significant suburban mobilization in favor of Democrats.</p>
        </section>
    
        <div class="body slide">
            <iframe title="Most Minnesota counties saw turnout surges, especially the Twin Cities suburbs" aria-label="Arrow Plot" id="datawrapper-chart-txYyc" src="https://datawrapper.dwcdn.net/txYyc/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1051"></iframe>
        </div>

        <section class="body">
            <p>Turnout was up all across the country, as Joe Biden claimed the presidency with more than 77 million votes nationwide, while President Trump garnered more votes than any previous incumbent president with 72 million.</p>

            <p>Estimates and projections from the United States Elections Project (which may be subject to change) show Minnesota narrowly leading state-by-state voter turnout rankings, once again securing a reputation for high levels of civic engagement.</p>
        </section>
    
        <div class="body slide">
            <iframe title="Minnesota's voter turnout still leads the national pack" aria-label="Arrow Plot" id="datawrapper-chart-hX1uZ" src="https://datawrapper.dwcdn.net/hX1uZ/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1051"></iframe>
        </div>

        
      <section class="body container-lg">

            <p class="buffer">&nbsp;</p>
            <div class="subscribe-promo">
            <img src="https://www.startribune.com/static/img/branding/logos/startribune-star-black.svg" alt="Star Tribune" width="45" height="45"><h3>Be Informed. Be Ready. Be a Subscriber.</h3>
            <a href="https://users.startribune.com/placement/6/environment/3/PreElectionPDAPromotion/start?offer=689" target="_blank"><h4>Subscribe today</h4></a>
            </div>

          <div class="article-author-contact">

          </div>

          <section class="credits">
                <p>Data sources: Minnesota Secretary of State, United States Elections Project, U.S. Census Bureau | data current as of 8:30 a.m. on Friday, Nov. 13, 2020.</p>

                <p><em>Note: preliminary county-level turnout is calculated using citizen age voting population estimates from the U.S. Census Bureau's 2012-2016 and 2014-2018 5-Year American Community Surveys.</em></p>
          </section>

            <p>&nbsp;</p>


            <div class="listing">
                <p><strong>Further reading</strong></p>
                <p><a href="https://www.startribune.com/2020-minnesota-election-results-live-president-joe-biden-donald-trump-congress-senate-smith-lewis-house-legislature-votes/572649921/">Minnesota election results 2020</a></p>
  
                <p><a href="https://www.startribune.com/2020-election-minnesota-live-precinct-results-president-donald-trump-joe-biden-local-neighborhoods-vote/572649971/?refresh=true">Minnesota election results 2020: Presidential race by precincts</a></p>
  
                <p><a href="https://www.startribune.com/joe-biden-minnesota-county-shift-chart-2020-election-president-data-clinton-trump-liberal-conservative-since-2016/572650021/">Biden recaptures lost ground as many Minnesota counties move left</a></p>

                <p><a href="https://www.startribune.com/x/572588741/">2020 Election: Tracking Minnesota’s early vote</a></p>

                <p><a href="https://www.startribune.com/x/572649841/">Once regional, early voting has swept across Minnesota</a></p>
            </div>
      </section>

      <section class="body container-lg">
        <div class="article-author-contact">
            <div class="article-author-hcard">
                    <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                    <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Absentee balloting helped drive Minnesota's highest voter turnout in six decades" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                    <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                    <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
            </div>
          </div>
    </section>
  </div>
</div>