<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <div class="elexLogo"> <div class="text"> <h3>ELECTION</h3> </div> <img src="https://static.startribune.com/news/projects/all/20200303-elex-results/build/img/ELEX2020.svg" alt="Election 2020"> </div>
      <h1>Absentee balloting helped drive Minnesota's highest voter turnout in six decades</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2020-11-10T16:00:00">November 10, 2020</time>
      </div>
      
      <!-- share -->
    </div>

    <div class="container-lg elex-main">

        <section class="leadin">
            <p>Nearly 8-in-10 eligible Minnesotans voted in this week's historic presidential election, reaching numbers not seen in 60 years and retaining its status as a top-voting state, made largely possible by enthusiasm among both parties and record-shattering numbers of absentee ballots cast during a pandemic.</p>

            <p>Minnesota's highest turnout rate during a presidential year since the end of World War II was in 1956, when President Dwight D. Eisenhower won reelection, one of the few times the state has landed in the Republican column and drawn voter involvement beyond 80 percent. The last time Minnesota's voter turnout reached 79 percent was John F. Kennedy's presidential election win in 1960.</p>

            <p>This year's high-stakes election saw this extradinarily high turnout deliver a big win for Democratic candidate Joe Biden over President Donald Trump and some very close races downballot as well.</p>
        </section>

        <div class="body slide">
            <iframe title="Minnesota's voter turnout broke records" aria-label="Interactive line chart" id="datawrapper-chart-qyXFu" src="https://datawrapper.dwcdn.net/qyXFu/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        </div>

        <section class="body container-lg">
            <p>Absentee balloting, which started six weeks prior to the election and <a href="https://www.startribune.com/x/572588741/">shattered early voting records</a>, played a huge roll in driving voter engagement this year, with most counties seeing half or more of their turnout coming from advanced ballots submitted before Election Day.</p>

            <p>Over the 2.1 million absentee requested by Minnesotans, 1.8 million were returned and accepted, representing about 56 percent of the record 3.2 million total Minnesota ballots cast in this election.</p>
        </section>
    
        <section id="scroll">
            <div class="scroll__graphic sticky">
                <div id="ios-spacer"></div>
                <div id="map-container">
                    <div class="center" id="mainLegend">
                        <div class="charTitle">Minnesota's absentee balloting was widespread</div>
                        <div class="legend"><div class="null"></div><div class="purple1"></div><div class="purple2"></div><div class="purple3"></div><div class="purple4"></div><div class="purple5"></div></div>
                        <div class="legend"><div class="white">0%</div><div class="white">&nbsp;</div><div class="white"></div><div class="white">&nbsp;</div><div class="white">&nbsp;</div><div class="white">100%</div></div>
                    </div>
                   
                  <svg width="550" height="690" viewBox="0 0 500 500" id="precinct-map" preserveAspectRatio="xMinYMin"></svg>
                </div>
              </div>
        </section>
        </div>

        <section class="body container-lg">
            <p>Some counties saw greater surges in voter turnout than others compared to 2016, with heavy DFL areas like Hennepin and Ramsey seeing boosts in voter engagement that helped propel decisive Democratic wins in statewide contests. Yet it was counties like Carver, Washington and Scott in the Twin Cities metro area suburbs that represented the highest turnout rates in Minnesota this year, another signal of significant suburban mobilization.</p>
        </section>
    
        <div class="body slide">
            <iframe title="Most Minnesota counties saw turnout surges, especially the Twin Cities suburbs" aria-label="Arrow Plot" id="datawrapper-chart-txYyc" src="https://datawrapper.dwcdn.net/txYyc/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1051"></iframe>
        </div>

        <section class="body container-lg">
            <p>Turnout was up all across the country, with Joe Biden claiming the presidency with more than 75 million votes nationwide, and President Donald Trump garnering more votes than an incumbant president ever has with more than 71 million.</p>

            <p>Current estimates show Minnesota narrowly leading every other state in voter turnout, once again securing a status that has long distinguished Minnesotans as a state boasting high levels of civic engagement among its residents.</p>
        </section>
    
        <div class="body slide">
            <iframe title="Minnesota's voter turnout still leads the national pack" aria-label="Arrow Plot" id="datawrapper-chart-hX1uZ" src="https://datawrapper.dwcdn.net/hX1uZ/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1051"></iframe>
        </div>

        <section class="body container-lg">
            <p>More than <a href="https://electproject.github.io/Early-Vote-2020G/index.html" target="new_">101 million early votes</a> are estimated to have been cast this year, according to the United States Elections Project, representing nearly 70% of the national presidential vote.</p>
        </section>
        
      <section class="body container-lg">

            <p class="buffer">&nbsp;</p>
            <div class="subscribe-promo">
            <img src="https://www.startribune.com/static/img/branding/logos/startribune-star-black.svg" alt="Star Tribune" width="45" height="45"><h3>Be Informed. Be Ready. Be a Subscriber.</h3>
            <a href="https://users.startribune.com/placement/6/environment/3/PreElectionPDAPromotion/start?offer=689" target="_blank"><h4>Subscribe today</h4></a>
            </div>

          <div class="article-author-contact">

          </div>

            <p>&nbsp;</p>

            <div class="listing">
                <p><strong>Further reading</strong></p>
                <p><a href="https://www.startribune.com/2020-minnesota-election-results-live-president-joe-biden-donald-trump-congress-senate-smith-lewis-house-legislature-votes/572649921/">Minnesota election results 2020</a></p>
  
                <p><a href="https://www.startribune.com/2020-election-minnesota-live-precinct-results-president-donald-trump-joe-biden-local-neighborhoods-vote/572649971/?refresh=true">Minnesota election results 2020: Presidential race by precincts</a></p>
  
                <p><a href="https://www.startribune.com/joe-biden-minnesota-county-shift-chart-2020-election-president-data-clinton-trump-liberal-conservative-since-2016/572650021/">Biden recaptures lost ground as many Minnesota counties move left</a></p>

                <p><a href="https://www.startribune.com/x/572588741/">2020 Election: Tracking Minnesota’s early vote</a></p>

                <p><a href="https://www.startribune.com/x/572649841/">Once regional, early voting has swept across Minnesota</a></p>
            </div>
      </section>

      <section class="body container-lg">
        <div class="article-author-contact">
            <div class="article-author-hcard">
                    <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                    <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Absentee balloting helped drive Minnesota's highest voter turnout in six decades" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                    <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                    <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
            </div>
          </div>
    </section>
  </div>